.not-found-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-heading {
  color: #f1f5f9;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
}
.not-found-description {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}
