.job-app-container {
  background-color: #272727;
  background-size: cover;
  padding-bottom: 20px;
}
.line {
  width: 300px;
  text-align: left;
  margin-top: 20px;
}
.job-main-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}
@media screen and (max-width: 567px) {
  .job-main-container {
    flex-direction: column;
    align-items: center;
  }
}
.type-of-employee {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
}
.employment-list {
  list-style-type: none;
}
.employment-type-details {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  margin-bottom: 10px;
}
.job-details-second-container {
  margin-left: 50px;
}
.search-container {
  background-color: transparent;
  width: 200px;
  display: flex;
  flex-direction: row;
}
.input-search {
  background-color: transparent;
  width: 300px;
  border: 0.5px solid #f8fafc;
  font-size: 15px;
  font-weight: 200;
  padding: 5px;
  color: #f8fafc;
}
.search-button {
  background-color: #475569;
  border: none;
}
.jobs-total-list {
  list-style-type: none;
}
.card-line {
  color: #f8fafc;
}
