.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 280px;
  height: 250px;
  border-radius: 10px;
  padding: 20px;
}
.profile-heading {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #64748b;
}
.profile-description {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto';
  color: #64748b;
  margin-top: 20px;
}
